.flex-containerr {
    display: flex;
    background-color: white;
    flex-flow: row  wrap;
    justify-content: space-evenly;
  }
  
  .item_container{
    margin-top: 100px;
  }
  .flex-containerr > div {
    background-color:  white;
    width:200px;
    margin: 15px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    height:200px;
    border:none;
  }
  .flex-containerr > div  img{
    
    object-fit: contain;
    border: 0;
    /* filter: drop-shadow(5px 5px 4px darkgrey); */
   
    
  }
  .flex-containerr > div a img:hover{
    transform: scale(1.1);
  }
  .category-link{
    box-shadow: inset 0 0 0 0 crimson;
    color: black;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
  }
  
 .category-link:hover {
  box-shadow: inset 600px 30px 0px 0px crimson;
  color: white;
  font-weight: bold;
    
 

 }
 #active {
  background-color: crimson;
  color: white;
  font-weight: bold;
    
 } 
 
 
 .card .card_img img{
  object-fit: contain;
  
 }
 .card .card_img:hover{
  transform: scale(1.1);
 }
 .card{
  border: none;
 }
 @media screen and (min-width:200px) and (max-width:920px){
  .flex-containerr > div {
    margin: 32px;
  }
  .flex-containerr > div img {
    margin-top: 12px;
  }
  .flex-containerr{
    margin-top: -80px;
  }
  .pusph_category_background_image{
    object-fit: contain;
   
  
   
  }
  .pushp_category-h1{
    margin-top: -50px;
    padding-bottom:50px;
    text-align: center;
  }
  .pushp_category-h1 h1{
    font-size: 40px;
    font-family: 'Roboto', sans-serif; 
  }
 }
 